*{
    margin: 0;
    padding: 0;
}



.rectangle36{
    /* navbar */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 97px;
    width: 1512px;
    /* border: 2px solid red; */


    background: #1B1B23;
    backdrop-filter: blur(50px);
    z-index: 1;
}
nav .logo{
    position: absolute;
    left: 8.47%;
    right: 86.24%;
    top: 34.02%;
    bottom: 31.96%;

    font-family: 'Edhan Martine';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
/* identical to box height */
    letter-spacing: 0.15px;
/* White */
    color: #FFFFFF;

}
nav .home{
    /* Home */
    position: absolute;
    left: 835px;
    right: 629px;
    top: 40px;
    bottom: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
/* identical to box height */
/* White */
    color: #FFFFFF;
}
nav .service{
    position: absolute;
    left: 935px;
    right: 509px;
    top: 40px;
    bottom: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
/* identical to box height */

/* White */
    color: #FFFFFF;
}
nav .product{

    position: absolute;
    left: 1056px;
    right: 384px;
    top: 40px;
    bottom: 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height */
    
    
    /* White */
    
    color: #FFFFFF;
    
}
nav .social{
    
    position: absolute;
    left: 1179px;
    right: 221px;
    top: 40px;
    bottom: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
/* identical to box height */


/* White */

    color: #FFFFFF;
}
nav .login{

    position: absolute;
    left: 1341px;
    right: 128px;
    top: 40px;
    bottom: 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height */
    
    
    /* White */
    
    color: #FFFFFF;
    
}




/* Rectangle 37 */
/* homepage */
.rectangle37{
    position: absolute;
    width: 1512px;
    height: 752px;
    left: 0px;
    top: 0px;

    background: #1B1B23;
}
.large-content{
    position: absolute;
    width: 578px;
    height: 216px;
    left: 128px;
    top: 238px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    
    color: #FFFFFF;
    /* border: 1px solid burlywood; */
    
}
.small-content{
    position: absolute;
    width: 427px;
    height: 99px;
    left: 128px;
    top: 465px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* or 183% */
    
    
    color: rgba(255, 255, 255, 0.5);
    /* border: 1px solid blue;  */
}
.download{

    position: absolute;
    width: 232px;
    height: 56px;
    left: 128px;
    top: 587px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* Yellow */
    
    background: #FFB703;
    border-radius: 5px;
}
.download:hover{
    background: #FFFFFF;
}
.download i{
    position: absolute;
    left: 36px;
    right: 170px;
    top: 14px;
    bottom: 14px;
    height: 28px;
    width: 26px;

    font-weight: 400;
    font-size: 28px;
    line-height: 24px;

/* Dark */

    color: #1B1B23;
}
.download p{
    position: absolute;
    width: 120px;
    height: 24px;
    left: 80px;
    top: 14px;
    
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.15px;
    
    /* Dark */
    
    color: #1B1B23;
}
#sign-up{

    box-sizing: border-box;
    background:#1B1B23;

    position: absolute;
    width: 143px;
    height: 56px;
    left: 379px;
    top: 587px;
    
    /* Yellow */
    
    border: 1px solid #FFB703;
    border-radius: 8px;
}

#sign-up p{

    position: absolute;
    width: 62px;
    height: 24px;
    left: 42px;
    top: 16px;
    
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 0.15px;
    
    /* Yellow Light */
    
    color: #FFF6E0;
    
}
#sign-up:hover{
    background: #FFB703;
    color: black;
}
/* #sign-up p:hover{
    color: black;
} */
.rectangle80{

    position: absolute;
    width: 258.3px;
    height: 501px;
    left: 835px;
    top: 206px;
    
    background: url('Rectangle 81.png'), #D9D9D9;
    border-radius: 10px;
}
.rectangle63{
    position: absolute;
    width: 256px;
    height: 501px;
    left: 1128px;
    top: -69px;
    
    background: url('Rectangle 83.png'), #D9D9D9;
    border-radius: 10px;
}
.rectangle61{

    position: absolute;
    width: 256px;
    height: 458px;
    left: 1128px;
    top: 457px;
    
    background: url('Rectangle 82.png');
    border-radius: 10px;
    z-index: 1;
}



/* Frame10 */


/* #frame10{
    width: 1512px;
    height: 569px;
    position: absolute;
    top: 752px;
    left: 0px;
    border: 2px solid red;
    background: ;
} */

.ellipse19{
    /* Ellipse 19 */


    position: absolute;
    width: 100px;
    height: 100px;
    left: 301px;
    top: 1048px;
    border-radius: 50%;

    /* Yellow */

    background: #FFB703;
}
#e19_p1{
    /* 1 */


position: absolute;
width: 14px;
height: 33px;
left: 43px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
#e19_p2{
    /* Sign up to the Aseedo Services for free */


    position: absolute;
    width: 280px;
    height: 58px;
    left: 211px;
    top: 1168px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* or 145% */

    text-align: center;
    letter-spacing: 0.15px;

    /* Dark */

    color: #1B1B23;
    /* border: 2px solid green; */

}
.g390-rectangle64{
/* Rectangle 64 */


position: absolute;
width: 5px;
height: 15.3px;
left: 287.37px;
top: 1062.05px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-75deg);
/* border: 2px solid blue; */
}
.g390-rectangle65{
/* Rectangle 65 */


position: absolute;
width: 5px;
height: 29px;
left: 287.19px;
top: 1034.79px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-45deg);

}
.g390-rectangle66{
        /* Rectangle 66 */


    position: absolute;
    width: 5px;
    height: 17px;
    left: 313.69px;
    top: 1033px;

    /* Yellow */

    background: #FFB703;
    border-radius: 10px;
    transform: rotate(-15deg);
}

.ellipse20{
    /* Ellipse 20 */


    box-sizing: border-box;

    position: absolute;
    width: 100px;
    height: 100px;
    left: 706px;
    top: 1048px;
    border-radius: 50%;

    /* Yellow */

    border: 1.5px solid #FFB703;
}
#e20_p1{
/* 2 */


position: absolute;
width: 18px;
height: 33px;
left: 40px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
#e20_p2{
/* Aseedo will recommend you nearby shops and stores */


position: absolute;
width: 280px;
height: 87px;
left: 616px;
top: 1168px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* or 145% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
/* border: 2px solid green; */
}

.ellipse21{
/* Ellipse 21 */


box-sizing: border-box;

position: absolute;
width: 100px;
height: 100px;
left: 1111px;
top: 1048px;
border-radius: 50%;

/* Yellow */

border: 1.5px solid #FFB703;

}
#e21_p1{
/* 3 */


position: absolute;
width: 19px;
height: 33px;
left: 40px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
#e21_p2{
/* Get instant discounts on every purchase */


position: absolute;
width: 280px;
height: 58px;
left: 1021px;
top: 1168px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* or 145% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
/* border: 2px solid green; */
}


/* Rectangle 72 */

.rectangle72{
    /* Rectangle 72 */


position: absolute;
width: 1512px;
height: 798px;
left: 0px;
top: 1418px;

background: #FFEEC2;
overflow: hidden;
/* overflow-x: hidden; */
}

#rect72{
    /* Hire different service providers near you and manage everything with your personal dashboard! */


position: absolute;
width: 827px;
height: 110px;
left: 343px;
top: 73px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 55px;
/* or 172% */

text-align: center;

/* Dark */

color: #1B1B23;

}
.group404{
    position: absolute;
width: 1740px;
height: 60px;
left: -113px;
top: 261px;
/* border: 2px solid red; */
/* display: ; */

}
.r393{
    /* Rectangle 78 */

width: 180px;
height: 60px;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFF6E0;
border-radius: 10px;
/* border: 2px solid black; */
}
.r393:hover{
    background: #FFB703;
}
.r393 p{
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r392{
    /* Rectangle 77 */


position: absolute;
left: 195px;
right: 1365px;
top: 0;
bottom: 477px;

background: #FFF6E0;
border-radius: 10px;
/* border: 2px solid black; */
height: 60px;
width: 180px;
}
.r392:hover{
    background: #FFB703;
}
.r392 p{
    /* Electricians */


position: absolute;
left: 21.11%;
right: 21.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r394{
    /* Rectangle 79 */


position: absolute;
left: 390px;
right: 1170px;
top: 0%;
bottom: 0%;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
}
.r394:hover{
    background: #FFB703;
}
.r394 p{
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r398{
    /* Rectangle 78 */


position: absolute;
left: 585px;
right: 975px;
top: 0%;
bottom: 0%;

background: #FFF6E0;
border-radius: 10px;

}
.r398:hover{
    background: #FFB703;
}
.r398 p {
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r399{
    /* Rectangle 77 */


position: absolute;
left:780px;
right:780px;
top: 0%;
bottom: 0%;

background: #FFF6E0;
border-radius: 10px;
}
.r399:hover{
    background: #FFB703;
}
.r399 p{
    /* Electricians */


position: absolute;
left: 21.11%;
right: 21.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r400{
    /* Rectangle 79 */


position: absolute;
left: 975px;
right: 585px;
top: 0%;
bottom: 0%;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
}
.r400:hover{
    background: #FFB703;
}
.r400 p{
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.r401{
    /* Rectangle 78 */


position: absolute;
left: 1170px;
right: 390px;
top: 0%;
bottom: 0%;

background: #FFF6E0;
border-radius: 10px;
}
.r401:hover{
    background: #FFB703;
}
.r401 p{
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r402{
    /* Rectangle 77 */


position: absolute;
left: 1365px;
right: 195px;
top: 0%;
bottom: 0%;

background: #FFF6E0;
border-radius: 10px;
}
.r402:hover{
    background: #FFB703;
}
.r402 p{
    /* Electricians */


position: absolute;
left: 21.11%;
right: 21.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.r403{
    /* Rectangle 79 */


position: absolute;
left: 1560px;
right: 0%;
top: 0%;
bottom: 0%;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
}
.r403:hover{
    background: #FFB703;
}
.r403 p {
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}


.group411{
    /* Group 411 */


position: absolute;
width: 1740px;
height: 60px;
left: -21px;
top: 338px;
/* border: 2px solid blue; */

}

.r409{
    /* Rectangle 79 */


position: absolute;
left: 0%;
right: 1560px;
top: 0%;
bottom: 0%;
width: 180px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
/* border: 2px solid black; */
}
.r409:hover{
    background: #FFB703;
}
.r409 p{
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r408{
    /* Rectangle 78 */


position: absolute;
left: 11%;
right: 78%;
top: 0%;
bottom: 0%;
width: 180px;

background: #FFF6E0;
border-radius: 10px;
}
.r408:hover{
    background: #FFB703;
}
.r408 p{
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r397{
/* Rectangle 79 */


position: absolute;
left: 390px;
right: 1170px;
top: 0%;
bottom: 0%;
width: 180px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
}
.r397:hover{
    background: #FFB703;
}
.r397 p{
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.r395{
    /* Rectangle 78 */


position: absolute;
left: 581px;
right: 975px;
top: 0%;
bottom: 0%;
width: 180px;

background: #FFF6E0;
border-radius: 10px;
}
.r395:hover{
    background: #FFB703;
}
.r395 p{
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r396{
    /* Rectangle 77 */


position: absolute;
left: 45%;
right: 45%;
top: 0%;
bottom: 0%;
width: 180px;

background: #FFF6E0;
border-radius: 10px;
}
.r396:hover{
    background: #FFB703;
}
.r396 p{
    /* Electricians */


position: absolute;
left: 21.11%;
right: 21.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r407{
    /* Rectangle 79 */


position: absolute;
left: 56%;
right: 34%;
top: 0%;
bottom: 0%;
width: 180px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
}
.r407:hover{
    background: #FFB703;
}
.r407 p{
    /* Carpenters */


position: absolute;
left: 21.11%;
right: 21.67%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.r405{
    /* Rectangle 78 */


position: absolute;
left: 67%;
right: 23%;
top: 0%;
bottom: 0%;
width: 180px;

background: #FFF6E0;
border-radius: 10px;
}
.r405:hover{
    background: #FFB703;
}
.r405 p{
    /* Plumbers */


position: absolute;
left: 26.11%;
right: 26.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.r406{
    /* Rectangle 77 */


position: absolute;
left: 78%;
right: 0%;
top: 0%;
bottom: 0%;
width: 180px;

background: #FFF6E0;
border-radius: 10px;
}
.r406:hover{
    background: #FFB703;
}
.r406 p{
    /* Electricians */


position: absolute;
left: 21.11%;
right: 21.11%;
top: 28.33%;
bottom: 26.67%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}

.r72_img{
    /* Apple-Macbook-Gold 1 */


position: absolute;
top: 1893px;
left: 414px;
right: 414px;
width: 684px;
height: 402px;

/* border: 2px solid green; */

background: url('Apple-Macbook-Gold\ 26.png');
}


/* Frame8 */


.frame8_p1{
    /* Aseedo */


position: absolute;
left: 184px;
right: 972px;
top: 2518.3px;
/* bottom: 30.8; */

font-family: 'Edhan Martine';
font-style: normal;
font-weight: 400;
font-size: 108px;
line-height: 149px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
z-index: 1;

/* border: 2px solid blue;  */
}
.rectangle70{
    /* Rectangle 70 */


position: absolute;
width: 195.66px;
height: 195.66px;
left: 224px;
top: 2531px;

background: #FFEDC2;
border-radius: 20px;
transform: rotate(-45deg);
/* border: 2px solid red; */
}
.frame8_p2{
    /* Who we are? */


position: absolute;
width: 158px;
height: 36px;
left: 702px;
top: 2568px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
/* border: 2px solid red; */
}
.frame8_p3{

    /* Aseedo is a direct selling company dealing with highest discount on necessary Services and Products for its family members. */


position: absolute;
width: 627px;
height: 111px;
left: 702px;
top: 2620px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
/* or 185% */


/* Dark */

color: #1B1B23;

}
.group68-p{
    /* Learn more */


position: absolute;
width: 88px;
height: 21px;
left: 702px;
top: 2759px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.group68 i{
    /* Vector 36 (Stroke) */


position: absolute;
left: 803.25px;
/* right: 13.54%; */
top: 2761.25px;
/* bottom: 13.54%; */


/* Dark */

color: #1B1B23;
}


/* Frame 7 */

.rectangle67{
    /* Rectangle 67 */


position: absolute;
width: 1256px;
height: 459px;
left: 128px;
top: 3024px;

/* Dark */

background: #1B1B23;
border-radius: 40px;
}
.rect67-p{
    /* Get your Aseedo premium card that works everywhere! */


position: absolute;
width: 461px;
height: 96px;
left: 83px;
top: 134px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;

color: #FFFFFF;

}
.rect67{
    /* Rectangle 2 */


box-sizing: border-box;

position: absolute;
width: 143px;
height: 56px;
left: 83px;
top: 247px;

/* Yellow */

background: #FFB703;
/* Yellow */

border: 1px solid #FFB703;
border-radius: 8px;
}
.rectangle64{
    /* Rectangle 64 */


position: absolute;
width: 6.34px;
height: 14.63px;
left: 50.38px;
top: 150.17px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-75deg);
}
.rectangle65{
    /* Rectangle 65 */


position: absolute;
width: 6.34px;
height: 32.25px;
left: 48.73px;
top: 115.92px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-45deg);
}
.rectangle66{
    /* Rectangle 66 */


position: absolute;
width: 6.55px;
height: 17.46px;
left: 81.04px;
top: 111.07px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-15deg);
}
.rect67-img{
    /* portrait-woman-glasses-holding-laptop-pointing-screen-showing-her-work-computer-standing 1 */


position: absolute;
width: 685px;
height: 456px;
left: 571px;
top: 0px;

background: url('portrait-woman-glasses-holding-laptop-pointing-screen-showing-her-work-computer-standing 2.png');
border-radius: 0px 0px 0px 40px;
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
z-index: 1;
}

/* rectangle71 */

.rectangle71{
    /* Rectangle 71 */


position: absolute;
width: 1512px;
height: 1481px;
left: 0px;
top: 3642px;

/* Yellow */

background: #FFB703;

}
.rect71-p1{
    /* Aseedo for Buisnesses */


position: absolute;
width: 314px;
height: 42px;
left: 599px;
top: 61px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
/* border: 2px solid red; */
}
.rect71-p2{
    /* Own a business? Join Aseedo family and connect to your local customers online! */


position: absolute;
width: 516px;
height: 144px;
left: 128px;
top: 312px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;

/* Dark */

color: #1B1B23;

}
.lyb{
    /* Rectangle 2 */


position: absolute;
width: 244px;
height: 56px;
left: 128px;
top: 481px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 8px;
}
.lyb-p{
    /* List Your Buisness */


position: absolute;
width: 144px;
height: 24px;
left: 36px;
top: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.lyb i{
    /* Vector 36 (Stroke) */


position: absolute;
left: 175.25px;
/* right: 13.54%; */
top: 21.23px;
/* bottom: 13.54%; */

/* Dark */

color: #1B1B23;
}

.ellipse22{
    /* Ellipse 22 */


position: absolute;
width: 472px;
height: 472px;
left: 912px;
top: 203px;
border-radius: 50%;
background: #D9D9D9;
}
.frame11-img{
    /* girlholdinglaptoptransparent 1 */


position: absolute;
width: 473px;
height: 435px;
height: 472px;
    left: 911px;
    top: 203px;
/* z-index: 1; */
border-radius: 50%;

background: url('Frame 16.png');

}

.gr390-ellipse19{
    /* Ellipse 19 */


position: absolute;
width: 100px;
height: 100px;
left: 301px;
top: 822px;
border-radius: 50%;

/* Yellow Light */

background: #FFF6E0;
}
.gr390-ellipse19 p{
    /* 1 */


position: absolute;
width: 14px;
height: 33px;
left: 43px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.gr390-1{
    /* Sign up to the Aseedo Services for free */


position: absolute;
width: 280px;
height: 58px;
left: 211px;
top: 942px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* or 145% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;


}
.gr390_rectangle64{
    /* Rectangle 64 */


position: absolute;
width: 5px;
height: 15.3px;
left: 287.37px;
top: 836.05px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
transform: rotate(-75deg);
}
.gr390_rectangle65{
    /* Rectangle 65 */


position: absolute;
width: 5px;
height: 29px;
left: 287.19px;
top: 808.79px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
transform: rotate(-45deg);
}
.gr390_rectangle66{
    /* Rectangle 66 */


position: absolute;
width: 5px;
height: 17px;
left: 313.69px;
top: 807px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 10px;
transform: rotate(-15deg);
}

.gr390-ellipse20{
    /* Ellipse 20 */


box-sizing: border-box;

position: absolute;
width: 100px;
height: 100px;
left: 706px;
top: 822px;
border-radius: 50%;

/* Yellow Light */

border: 1.5px solid #FFF6E0;
}
.gr390-ellipse20 p{
    /* 2 */


position: absolute;
width: 18px;
height: 33px;
left: 41px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.gr390-2{
    /* Fill Essential Information about your shop and store */


position: absolute;
width: 280px;
height: 58px;
left: 616px;
top: 942px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* or 145% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}

.gr390-ellipse21{
    /* Ellipse 21 */


box-sizing: border-box;

position: absolute;
width: 100px;
height: 100px;
left: 1111px;
top: 822px;
border-radius: 50%;

/* Yellow Light */

border: 1.5px solid #FFF6E0;

}
.gr390-ellipse21 p{
    /* 3 */


position: absolute;
width: 19px;
height: 33px;
left: 41px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.gr390-3{
    /* Start taking orders from the local customers */


position: absolute;
width: 280px;
height: 58px;
left: 1021px;
top: 942px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* or 145% */

text-align: center;
letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}

.frame11-mac-img{
    /* Apple-Macbook-Gold25 1 */


position: absolute;
width: 684px;
height: 401.97px;
left: 414px;
top: 4831px;

background: url('Apple-Macbook-Gold25 2.png');
}

.Download-our-App{
    /* Download our App */


position: absolute;
width: 228px;
height: 36px;
left: 642px;
top: 5432px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}
.g412-rect75-1{
    
position: absolute;
width: 232px;
height: 56px;
left: 378px;
top: 5514px;

/* Yellow */

background: #FFB703;
border-radius: 5px;
border: none;
}
.g412-rect75-1:hover{
    background: #FFFFFF;
}
.g412-rect75-1 i{
    /* Vector */


position: absolute;
left: 41px;
right: 172px;
top: 12px;
bottom: 15px;
width: 22px;
height: 27px;
font-size: 31px;

/* Dark */

color: #1B1B23;
}
.g412-rect75-1 p{
    /* Download app */


position: absolute;
width: 120px;
height: 24px;
left: 80px;
top: 16px;

/* font-family: 'Poppins'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */


color: #1B1B23;
}
.g412-rect75-2{
    /* Rectangle 75 */


position: absolute;
width: 232px;
height: 56px;
left: 640px;
top: 5514px;

/* Yellow */

background: #FFB703;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
border: none;
font-size: 16px;
}
.g412-rect75-2:hover{
    background: #FFFFFF;
}
.g412-rect75-2 i{
/* Vector */


position: absolute;
left: 49px;
right: 170px;
top: 16px;
bottom: 6.25%;
font-size: 23px;

/* Dark */

color: #1B1B23;
}
.g412-rect75-2 p{
    /* Download app */


position: absolute;
width: 120px;
height: 24px;
left: 80px;
top: 16px;

/* font-family: 'Poppins'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;

}
.g412-rect75-3{
    /* Rectangle 75 */


position: absolute;
width: 232px;
height: 56px;
left: 902px;
top: 5514px;
border: none;
/* Yellow */

background: #FFB703;
border-radius: 5px;
}
.g412-rect75-3:hover{
    background: #FFFFFF;
}
.g412-rect75-3 i{
    /* Vector */


position: absolute;
left: 43px;
right: 161px;
top: 14px;
bottom: 14px;

/* Dark */

color: #1B1B23;
}
.g412-rect75-3 p{
    /* Use Webapp */


position: absolute;
width: 104px;
height: 24px;
left: 88px;
top: 16px;

/* font-family: 'Poppins'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.15px;

/* Dark */

color: #1B1B23;
}

/* FFrame 14 */

.frame14{
    /* Rectangle 67 */


position: absolute;
width: 1256px;
height: 459px;
left: 128px;
top: 5761px;

/* Yellow Light */

background: #FFF6E0;
border-radius: 40px;
}
.f14-p{
    /* Become the part of Aseedo family and save money for your future. */


position: absolute;
width: 461px;
height: 144px;
left: 83px;
top: 134px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;

/* Dark */

color: #1B1B23;
}
.f14-btn{
    /* Rectangle 2 */


box-sizing: border-box;

position: absolute;
width: 143px;
height: 56px;
left: 83px;
top: 295px;

/* Yellow */

background: #FFB703;
/* Yellow */

border: 1px solid #FFB703;
border-radius: 8px;
}
.f14-rect64{
    /* Rectangle 64 */


position: absolute;
width: 6.34px;
height: 14.63px;
left: 50.38px;
top: 150.17px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-75deg);
}
.f14-rect65{
    /* Rectangle 65 */


position: absolute;
width: 6.34px;
height: 32.25px;
left: 48.73px;
top: 115.92px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-45deg);
}
.f14-rect66{
    /* Rectangle 66 */


position: absolute;
width: 6.55px;
height: 17.46px;
left: 81.04px;
top: 111.07px;

/* Yellow */

background: #FFB703;
border-radius: 10px;
transform: rotate(-15deg);
}
.f14-img{
    /* woman-glasses-holding-laptop-transparent 1 */


position: absolute;
width: 294px;
height: 436px;
left: 872px;
top: 23px;

background: url('Group 419.png');
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

/* Frame 15 */


.frame15{
    /* Rectangle 80 */


position: absolute;
width: 1512px;
height: 602px;
left: 0px;
top: 6449px;

/* Dark */

background: #1B1B23;
}
.f15-p1{
    /* Aseedo */


position: absolute;
width: 92px;
height: 36px;
left: 128px;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

letter-spacing: 0.15px;

color: #FFFFFF;

}
.f15-p2{
    /* Aseedo is a direct selling company dealing with highest discount on necessary Services and Products for its family members. */


position: absolute;
width: 452px;
height: 120px;
left: 128px;
top: 99px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 200% */


/* White */

color: #FFFFFF;
}
.f15-p3{
    /* About Aseedo */


position: absolute;
width: 113px;
height: 40px;
left: 128px;
top: 259px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White 50% */

color: rgba(255, 255, 255, 0.5);
}
.f15-home{
    /* Home */


position: absolute;
width: 48px;
height: 40px;
left: 128px;
top: 304px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */

text-decoration: none;
/* White */

color: #FFFFFF;

}
.f15-Explore{
    /* Explore */


position: absolute;
width: 57px;
height: 40px;
left: 128px;
top: 349px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-decoration: none;

/* White */

color: #FFFFFF;

}
.f15-Blogs{
    /* Blogs */


position: absolute;
width: 44px;
height: 40px;
left: 128px;
top: 394px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-decoration: none;

/* White */

color: #FFFFFF;
}
.f15-Services{
    /* Services */


position: absolute;
width: 67px;
height: 40px;
left: 128px;
top: 439px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */

text-decoration: none;
/* White */

color: #FFFFFF;

}
.f15-p4{
    /* Plans & Policy */


position: absolute;
width: 110px;
height: 40px;
left: 766px;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White 50% */

color: rgba(255, 255, 255, 0.5);

}
.f15-Demo{
    /* Demo */


position: absolute;
width: 48px;
height: 40px;
left: 766px;
top: 95px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-decoration: none;

/* White */

color: #FFFFFF;
}
.f15-Incentives{
    /* Incentives */


position: absolute;
width: 82px;
height: 40px;
left: 766px;
top: 140px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Products{
    /* Our Products */


position: absolute;
width: 104px;
height: 40px;
left: 766px;
top: 185px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Compensation{
    /* Compensation Plan */


position: absolute;
width: 158px;
height: 40px;
left: 766px;
top: 230px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Terms{
    /* Terms and Conditions */


position: absolute;
width: 176px;
height: 40px;
left: 766px;
top: 275px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Policy{
    /* Policy */


position: absolute;
width: 47px;
height: 40px;
left: 766px;
top: 320px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-p5{
    /* Other */


position: absolute;
width: 45px;
height: 40px;
left: 1149px;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White 50% */

color: rgba(255, 255, 255, 0.5);

}
.f15-faq{
    /* FAQ */


position: absolute;
width: 32px;
height: 40px;
left: 1149px;
top: 95px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Contact{
    /* Contact us */


position: absolute;
width: 88px;
height: 40px;
left: 1149px;
top: 140px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}
.f15-Career{
    /* Career */


position: absolute;
width: 55px;
height: 40px;
left: 1150px;
top: 185px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */


/* White */

color: #FFFFFF;
text-decoration: none;
}