<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("../flash") %>
        <h1>VERIFICATION PAGE</h1>
        <form action="/verify/<%= process.env.SERVER_SECRET %>/user" method="POST">
            <label for="email">email</label>
            <input type="text" id="email" name="email">
            <button type="submit">submit</button>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $(".success-btn").on('click', () => {
                $(".alert-success").css({ "display": "none" });
            })

            $(".danger-btn").on('click', () => {
                $(".alert-danger").css({ "display": "none" });
            })
        </script>
</body>

</html>