body {
    background-color: var(--buttonColor);
}

.container .back__btn__container{
    text-align: left;
}

.back__btn {
    text-decoration: none;
    color: var(--headerBackgroundColor);
}

.back__btn__container {
    margin: 20px 0 40px;
}

.back__btn i {
    font-size: 20px;
}



/* ============================== 
2 for laptops & desktops
=============================== */
@media only screen and (min-width:992px) {


}