.alert {
    width: 90%;
    border: 1px solid black;
    padding: 8px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-success {
    background-color: #D6FBDC;
    border: 1px solid #badbcc;
    color: #0f5132;
}

.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
}

a {
    cursor: pointer;
    font-size: 35px;
}
