<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="http://fonts.cdnfonts.com/css/edhan-martine" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/services/services.css">
    <link rel="stylesheet" href="/css/services/BusinessOwner/signUpForm.css">
    <link rel="stylesheet" href="/css/preLoader/preLoader.css">

</head>

<body>

    <!-- ============================ SPINNER ============================ -->
    <div class="spinner-overlay">
        <div class="spinner-container">
            <div class="lds-facebook">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- ================================================================= -->

    <!-- ================ back to top ================= -->
    <a href="#navbar" class="back-to-top d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-angle-up"></i>
    </a>
    <!-- ============================================== -->

    <!-- ===================== overlay =====================-->
    <div class="overlay d-flex justify-content-center align-items-center" id="overlay">
        <div class="container d-none" id="container">
            <span class="close__btn d-none">
                <svg width="20" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="28.2843" width="40" height="4" transform="rotate(-45 0 28.2843)" fill="white" />
                    <rect x="3" y="0.284241" width="40" height="4" transform="rotate(45 3 0.284241)" fill="white" />
                </svg>

            </span>
            <ul class="nav-link-container">
                <li class="nav-link"><a href="./agreement.html">Home</a></li>
                <li class="nav-link"><a href="./agreement.html">Services</a></li>
                <li class="nav-link"><a href="./agreement.html">Product</a></li>
                <li class="nav-link"><a href="./agreement.html">Product Services</a></li>
                <li class="nav-link"><a href="./agreement.html">Login</a></li>
                <li><a href="#" class="button header__downloadNow d-flex justify-content-center align-items-center">
                        <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 1.71813V26.2806C0.000164555 26.3339 0.0160587 26.386 0.0456893 26.4303C0.07532 26.4746 0.117368 26.5091 0.166561 26.5296C0.215754 26.5501 0.269902 26.5556 0.322215 26.5455C0.374528 26.5353 0.422677 26.5099 0.460625 26.4725L13.25 14L0.460625 1.52625C0.422677 1.48884 0.374528 1.46346 0.322215 1.4533C0.269902 1.44314 0.215754 1.44865 0.166561 1.46915C0.117368 1.48964 0.07532 1.5242 0.0456893 1.56849C0.0160587 1.61278 0.000164555 1.66484 0 1.71813ZM18.6125 8.875L2.57625 0.0400032L2.56625 0.0343782C2.29 -0.115622 2.0275 0.258128 2.25375 0.475628L14.8244 12.4956L18.6125 8.875ZM2.255 27.5244C2.0275 27.7419 2.29 28.1156 2.5675 27.9656L2.5775 27.96L18.6125 19.125L14.8244 15.5031L2.255 27.5244ZM25.0862 12.4375L20.6081 9.97125L16.3975 14L20.6081 18.0269L25.0862 15.5625C26.3044 14.8894 26.3044 13.1106 25.0862 12.4375Z"
                                fill="#1B1B23" />
                        </svg>
                        Download App</a></li>
            </ul>
        </div>
    </div>
    <!-- ==========================================-->


    <!-- ===================== navbar =====================-->

    <nav class="navbar" id="navbar">
        <div class="container d-flex justify-content-between">

            <a href="#" class="navbar__brand">Aseedo</a>
            <span class="navbar__menuIcon">
                <svg width="25" height="28" viewBox="0 0 40 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="4" fill="white" />
                    <rect y="12" width="40" height="4" fill="white" />
                    <rect y="24" width="40" height="4" fill="white" />
                </svg>
            </span>
            <div class="nav-links-lg d-none">
                <ul class="">
                    <li class="nav-link"><a href="#">Home</a></li>
                    <li class="nav-link"><a href="#">Services</a></li>
                    <li class="nav-link"><a href="#">Product</a></li>
                    <li class="nav-link"><a href="#">Product Services</a></li>
                    <li class="nav-link"><a href="#">Login</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- ==========================================-->

    <!-- =================== Main ====================== -->
    <section class="container">
        <div class="back__btn__container">
            <a href="/signup" class="back__btn"><i class="fa-solid fa-chevron-left"></i> Back</a>
        </div>
        <!-- =========================== Service ============================= -->
        <div class="body__container">
            <div class="capsules__container d-flex flex-col justify-content-center align-items-center">
                <div class="capsule__box">
                    <a href="#" class="capsule service">
                        <div
                            class="capsule__btn d-flex flex-row justify-content-between align-items-center service-btn active">
                            <p class="btn-text">Service</p>
                            <i class="fa-solid fa-plus d-none"></i>
                            <i class="fa-solid fa-minus active-btn"></i>
                        </div>
                    </a>
                </div>
                <!-- ================================================================ -->

                <!-- ======================== Service Form ====================== -->
                <section class="container form service-form">
                    Service Form
                    <form action="/signup/businessowner" method="POST" enctype="multipart/form-data">
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                        </div>
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage" accept="image/*" required>
                            </div>
                        </div>
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" minlength="10" maxlength="10" name="phone"
                                    placeholder="Enter Your Phone No." required>
                            </div>
                        </div>
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" minlength="10" maxlength="10" id="alternate-phone"
                                    name="alternatePhone" placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address"
                                    required>
                            </div>
                        </div>
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark">
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" minlength="6" maxlength="6" id="pincode" name="pincode"
                                    placeholder="Your City's Pincode" required>
                            </div>
                        </div>
                        <div class="field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State" required>
                            </div>
                        </div>
                        <div class=" field d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="number" min="1" max="100" id="discount" name="discount"
                                    placeholder="Provide Discount" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>
                        </div>
                        <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                            <button type="submit"
                                class="button next-btn d-flex flex-row justify-content-center align-items-center">
                                Next&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </section>
                <!-- ======================================================================= -->


                <!-- =============================== Product s=============================== -->
                <div class="capsule__box">
                    <a href="#" class="capsule products">
                        <div
                            class="capsule__btn d-flex flex-row justify-content-between align-items-center product-btn">
                            <p class="btn-text faded">Products</p>
                            <i class="fa-solid fa-plus active-btn"></i>
                            <i class="fa-solid fa-minus d-none"></i>
                        </div>
                    </a>
                </div>
                <!-- ======================================================================= -->

                <!-- ============================= Product Form =========================== -->
                <section class="container form d-none product-form">
                    Product Form
                    <form enctype="multipart/form-data" action="">
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage" accept="image/*">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>
                        </div>
                        <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                            <a href="./agreement.html"
                                class="button next-btn d-flex flex-row justify-content-center align-items-center">
                                <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </section>
                <!-- ========================================================================== -->

                <!-- ===================================== Greens =============================== -->
                <div class="capsule__box">
                    <a href="#" class="capsule greens">
                        <div class="capsule__btn d-flex flex-row justify-content-between align-items-center greens-btn">
                            <p class="btn-text faded">Greens</p>
                            <i class="fa-solid fa-plus active-btn"></i>
                            <i class="fa-solid fa-minus d-none"></i>
                        </div>
                    </a>
                </div>
                <!-- =========================================================================== -->

                <!-- =================================== Greens Form ============================= -->
                <section class="container form d-none greens-form">
                    Greens Form
                    <form enctype="multipart/form-data" action="">
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>
                        </div>
                        <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                            <a href="./agreement.html"
                                class="button next-btn d-flex flex-row justify-content-center align-items-center">
                                <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </section>
                <!-- =============================================================================== -->

                <!-- =================================== Social Services ================================ -->
                <div class="capsule__box">
                    <a href="#" class="capsule social-service">
                        <div
                            class="capsule__btn d-flex flex-row justify-content-between align-items-center social-service-btn">
                            <p class="btn-text faded">Social Service</p>
                            <i class="fa-solid fa-plus active-btn"></i>
                            <i class="fa-solid fa-minus d-none"></i>
                        </div>
                    </a>
                </div>
                <!-- =================================================================================== -->

                <!-- =============================== Social services form =============================== -->
                <section class="container form d-none social-service-form">
                    Social Services Form
                    <form enctype="multipart/form-data" action="">
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                        </div>
                        <div class="d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>
                        </div>
                        <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                            <a href="./agreement.html"
                                class="button next-btn d-flex flex-row justify-content-center align-items-center">
                                <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </section>
                <!-- ========================================================================= -->
            </div>
            <!-- ======================== Service Form for laptop/desktop ====================== -->
            <section class="container form-large service-form active-form">
                Service Form
                <form action="/signup/businessowner" method="POST" enctype="multipart/form-data">
                    <div class="row d-flex flex-row justify-content-around">
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" minlength="10" maxlength="10" id="alternate-phone"
                                    name="alternatePhone" placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark">
                            </div>
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="number" min="1" max="100" id="discount" name="discount"
                                    placeholder="Provide Discount" required>
                            </div>

                        </div>
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage" accept="image/*" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" minlength="10" maxlength="10" id="phone" name="phone"
                                    placeholder="Enter Your Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" minlength="6" maxlength="6" id="pincode" name="pincode"
                                    placeholder="Your City's Pincode" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>

                        </div>
                    </div>

                    <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                        <button type="submit"
                            class="button next-btn d-flex flex-row justify-content-center align-items-center">
                            Next&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </section>
            <!-- ======================================================================= -->

            <!-- ============================= Product Form for laptop/desktop =========================== -->
            <section class="container form-large product-form d-none">
                Product Form
                <form enctype="multipart/form-data" action="" class="">
                    <div class="row d-flex flex-row justify-content-around">
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>

                        </div>
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage">
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>

                        </div>
                    </div>

                    <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                        <a href="./agreement.html"
                            class="button next-btn d-flex flex-row justify-content-center align-items-center">
                            <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </form>
            </section>
            <!-- ========================================================================== -->

            <!-- =================================== Greens Form for laptop/desktop ============================= -->
            <section class="container form-large greens-form d-none">
                Greens Form
                <form enctype="multipart/form-data" action="" class="">
                    <div class="row d-flex flex-row justify-content-around">
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="number" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>

                        </div>
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage">
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>

                        </div>
                    </div>

                    <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                        <a href="./agreement.html"
                            class="button next-btn d-flex flex-row justify-content-center align-items-center">
                            <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </form>
            </section>
            <!-- =============================================================================== -->


            <!-- =============================== Social services form for laptop/desktop =============================== -->
            <section class="container form-large social-service-form d-none">
                Social Services Form
                <form enctype="multipart/form-data" action="" class="">
                    <div class="row d-flex flex-row justify-content-around">
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start category">
                                <label for="category">Category</label>
                                <input type="text" id="category" name="category" placeholder="Enter Category" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start business-name">
                                <label for="business-name">Your Business Name</label>
                                <input type="text" id="business-name" name="businessName"
                                    placeholder="Enter Your Business Name" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start email">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start alternate-phone">
                                <label for="alternate-phone">Your Other Phone</label>
                                <input type="text" id="alternate-phone" name="alternatePhone"
                                    placeholder="Enter Your Other Phone No." required>
                            </div>
                            <div class="input d-flex flex-col align-items-start landmark">
                                <label for="landmark">Enter Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter Nearest Landmark"
                                    required>
                            </div>
                            <div class="input d-flex flex-col align-items-start city">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" placeholder="Your City" required>
                            </div>
                            <div class="input d-flex flex-col align-items-start discount">
                                <label for="discount">Discount %</label>
                                <input type="text" id="discount" name="discount" placeholder="Provide Discount"
                                    required>
                            </div>

                        </div>
                        <div class="col d-flex flex-col">
                            <div class="input d-flex flex-col align-items-start sub-category">
                                <label for="sub-category">Sub Category</label>
                                <input type="text" id="sub-category" name="subCategory"
                                    placeholder="Enter Sub Category">
                            </div>
                            <div class="input d-flex flex-col align-items-start shopImage">
                                <label for="shopImage">Upload Shop Image</label>
                                <input type="file" id="shopImage" name="shopImage">
                            </div>
                            <div class="input d-flex flex-col align-items-start phone">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Enter Your Phone No.">
                            </div>
                            <div class="input d-flex flex-col align-items-start shop-no">
                                <label for="shop-no">Shop No / House No / Flat No / Plot No</label>
                                <input type="text" id="shop-no" name="shopNumber" placeholder="Enter Your Address">
                            </div>
                            <div class="input d-flex flex-col align-items-start pincode">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Your City's Pincode">
                            </div>
                            <div class="input d-flex flex-col align-items-start state">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Your State">
                            </div>
                            <div class="input d-flex flex-col align-items-start remarks">
                                <label for="remarks">Any Remarks</label>
                                <input type="text" id="remarks" name="remarks" placeholder="Enter Any Remarks">
                            </div>

                        </div>
                    </div>

                    <div class="next__btn__container d-flex flex-row justify-content-center align-items-center">
                        <a href="./agreement.html"
                            class="button next-btn d-flex flex-row justify-content-center align-items-center">
                            <p>Next</p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </form>
            </section>
            <!-- ========================================================================= -->

        </div>
    </section>
    <!-- ====================================================== -->

    <!-- =================== Scripts =================== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/services/signUpForm.js"></script>


    <script>
        $(document).ready(function () {
            $("form").on("submit", function () {
                $(".spinner-overlay").fadeIn();
            });
        });
    </script>
    <!-- =============================================== -->
</body>

</html>