<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/services/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="http://fonts.cdnfonts.com/css/edhan-martine" rel="stylesheet">

</head>

<body>

    <!-- ================ back to top ================= -->
    <a href="#navbar" class="back-to-top d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-angle-up"></i>
    </a>
    <!-- ============================================== -->

    <!-- ===================== overlay =====================-->
    <div class="overlay d-flex justify-content-center align-items-center" id="overlay">
        <div class="container d-none" id="container">
            <span class="close__btn d-none">
                <svg width="20" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="28.2843" width="40" height="4" transform="rotate(-45 0 28.2843)" fill="white" />
                    <rect x="3" y="0.284241" width="40" height="4" transform="rotate(45 3 0.284241)" fill="white" />
                </svg>

            </span>
            <ul class="nav-link-container">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="#">Services</a></li>
                <li class="nav-link"><a href="#">Product</a></li>
                <li class="nav-link"><a href="#">Product Services</a></li>
                <li class="nav-link"><a href="/login">Login</a></li>
                <li><a href="#" class="button header__downloadNow d-flex justify-content-center align-items-center">
                        <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 1.71813V26.2806C0.000164555 26.3339 0.0160587 26.386 0.0456893 26.4303C0.07532 26.4746 0.117368 26.5091 0.166561 26.5296C0.215754 26.5501 0.269902 26.5556 0.322215 26.5455C0.374528 26.5353 0.422677 26.5099 0.460625 26.4725L13.25 14L0.460625 1.52625C0.422677 1.48884 0.374528 1.46346 0.322215 1.4533C0.269902 1.44314 0.215754 1.44865 0.166561 1.46915C0.117368 1.48964 0.07532 1.5242 0.0456893 1.56849C0.0160587 1.61278 0.000164555 1.66484 0 1.71813ZM18.6125 8.875L2.57625 0.0400032L2.56625 0.0343782C2.29 -0.115622 2.0275 0.258128 2.25375 0.475628L14.8244 12.4956L18.6125 8.875ZM2.255 27.5244C2.0275 27.7419 2.29 28.1156 2.5675 27.9656L2.5775 27.96L18.6125 19.125L14.8244 15.5031L2.255 27.5244ZM25.0862 12.4375L20.6081 9.97125L16.3975 14L20.6081 18.0269L25.0862 15.5625C26.3044 14.8894 26.3044 13.1106 25.0862 12.4375Z"
                                fill="#1B1B23" />
                        </svg>
                        Download App</a></li>
            </ul>
        </div>
    </div>
    <!-- ==========================================-->


    <!-- ===================== navbar =====================-->

    <nav class="navbar" id="navbar">
        <div class="container d-flex justify-content-between">

            <a href="#" class="navbar__brand">Aseedo</a>
            <span class="navbar__menuIcon">
                <svg width="25" height="28" viewBox="0 0 40 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="4" fill="white" />
                    <rect y="12" width="40" height="4" fill="white" />
                    <rect y="24" width="40" height="4" fill="white" />
                </svg>
            </span>
            <div class="nav-links-lg d-none">
                <ul class="">
                    <li class="nav-link"><a href="/">Home</a></li>
                    <li class="nav-link"><a href="#">Services</a></li>
                    <li class="nav-link"><a href="#">Product</a></li>
                    <li class="nav-link"><a href="#">Product Services</a></li>
                    <li class="nav-link"><a href="/login">Login</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- ==========================================-->

    <!-- =================== Main ====================== -->
    <section class="container">
        <div class="back__btn__container">
            <a href="/" class="back__btn"><i class="fa-solid fa-chevron-left"></i> Back</a>
        </div>
        <div class="aseedo__services d-flex flex-col justify-content-center align-items-center">
            <a href="signup/customers" class="aseedo__services__column d-flex flex-col justify-content-center align-items-center">
                <div class=" d-flex flex-col justify-content-center align-items-center">
                    <h4>Customer</h4>
                    <p>To Enjoy Aseedo Services with exclusive discount.</p>
                </div>
            </a>
            <a href="/signup/businessowner" class="aseedo__services__column d-flex flex-col justify-content-center align-items-center">
                <div class="d-flex flex-col justify-content-center align-items-center">
                    <h4>Business Owners</h4>
                    <p>If you own a buisness and want to find more customer nearby.</p>
                </div>
            </a>
            <a href="/signup/serviceprovider" class="aseedo__services__column d-flex flex-col justify-content-center align-items-center">
                <div class="d-flex flex-col justify-content-center align-items-center">
                    <h4>Service Providers</h4>
                    <p>If you can provide specific service like Electrician, Plumber, Carpenter etc...</p>
                </div>
            </a>
            <a href="/signup/channelpartner" class="aseedo__services__column d-flex flex-col justify-content-center align-items-center">
                <div class="d-flex flex-col justify-content-center align-items-center">
                    <h4>Channel Partner</h4>
                    <p>Be a partner of Aseedo and help to join other customer and buisness owners.</p>
                </div>
            </a>
        </div>
    </section>
    <!-- ====================================================== -->

    <!-- ========================= Scripts ============================= -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <!-- =============================================================== -->
</body>

</html>